NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
LICENSE_API_PORT=3877
LICENSE_SECRET=
FINANCEPRO_LICENSE_API_URL=https://sfinvquyuspingeqjamz.supabase.co/functions/v1/licenses
NEXT_PUBLIC_DOWNLOAD_URL=https://github.com/Wiltonkru2022/financeiro/releases/download/v1.0.0/FinancePro-Setup-1.0.0.exe
